a {
    text-decoration: none !important;
}

.Profile-Picture {
    border-radius: 100px;
    height: 30px;
    width: 30px;
}

.social-media {
    color: black;
}

.flex-navbar {
    display: flex;
}

.flex-navbar-item {
    flex: 1;
}

.flex-navbar-item-middle-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-item.dropdown .dropdown-toggle::after {
    display: none;
}

/* Updated styles for task items */
.list-group-item {
    display: flex;
    justify-content: space-between;
}

.task-left {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.task-center {
    display: flex;
    flex-direction: column;
    flex: 3;
    align-items: center;
}

.task-right {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

.task-name,
.task-category {
    margin-bottom: 5px;
}

.task-date-time,
.task-status {
    margin-top: 5px;
}
.newsletter-container {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.newsletter-container h2 {
    color: #333;
}

.newsletter-container p {
    color: #555;
}

.newsletter-container form {
    margin-top: 15px;
}

.newsletter-container label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.newsletter-container input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.newsletter-container button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.newsletter-container button:hover {
    background-color: #45a049;
}
