main div {
    width: 18rem;
}
a {
    text-decoration: none;
}
header {
    padding-bottom: 11%;
}
main {
    padding-bottom: 11%;
}
body {
    background-color: #121212;
    /* Dark background color */
    color: #fff;
    /* Light text color */
}
h1{
    margin-bottom: 10%;
}
.navbar {
    background-color: #333;
    /* Dark navbar background color */
}

.navbar-nav .nav-link {
    color: #fff !important;
    /* Light text color for navbar links */
}

.card {
    background-color: #333;
    /* Dark card background color */
    color: #fff;
    /* Light text color for card content */
}

.footer {
    background-color: #333;
    /* Dark footer background color */
    color: #fff;
    /* Light text color for footer content */
}
