body {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
.navbar {
    background-color: #f8f9fa;
}
main div div form div{
    margin-bottom: 7%;
}
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form-inner {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-floating {
    margin-bottom: 20px;
}

.form-floating label {
    pointer-events: none;
}
a {
    text-decoration: none;
}